<!doctype html>
<html>
  <head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<title>{{page.title}}</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reveal.js@4.0.2/dist/reset.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reveal.js@4.0.2/dist/reveal.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reveal.js@4.0.2/dist/theme/white.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/5.11.2/css/font-awesome.min.css">

<!-- Theme used for syntax highlighting of code -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css">
<link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/reveal.js@4.0.2/dist/reveal.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/reveal.js@4.0.2/plugin/markdown/markdown.js"></script>
<script src="https://cdn.jsdelivr.net/npm/reveal.js@4.0.2/plugin/highlight/highlight.js"></script>
<script src="https://cdn.jsdelivr.net/npm/reveal.js@4.0.2/plugin/notes/notes.js"></script>
<script src="https://cdn.jsdelivr.net/npm/reveal.js@4.0.2/plugin/math/math.js"></script>

{% if page.include_vega %}
<script src="https://cdn.jsdelivr.net/npm/vega"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed"></script>
{% endif %}

</style>

  <link rel="stylesheet/less" type="text/css" href="{{ '/assets/styles.less' | relative_url }}" />
  </head>

  <body>
    <div class="reveal">
      <div class="slides">
          <section class="titleslide">
              <h1>{{page.title}}</h1>
              <h2>{{site.data.class.instructor.name}}</h2>
              <h2>{{site.data.class.course.name}} - {{site.data.class.course.semester}}</h2>
          </section>
        <section data-markdown
           data-separator="^\n---\n"
           data-separator-vertical="^\n----\n">
          <script type="text/template">
{{page.content}}
          </script>
        </section>
      </div>
    </div>
<script>
    // More info about config & dependencies:
    // - https://github.com/hakimel/reveal.js#configuration
    // - https://github.com/hakimel/reveal.js#dependencies
    Reveal.initialize({
        fragments: true,
        fragmentInURL: true,
        hash: true,
        width: 1024,
        height: 768,
        margin: 0.02,
        plugins: [ RevealMarkdown, RevealHighlight, RevealNotes, RevealMath],
        dependencies: [
            { src: 'https://cdn.jsdelivr.net/npm/reveald3/reveald3.js'}
        ],
		keyboard: {
		},
        center: false,
        transition: 'none',
        backgroundTransition: 'none',
        reveald3: {
            runLastState: false
        }
    });
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>
{% if page.setup_script %}
<script src="{{ page.setup_script }}"></script>
{% endif %}
{% if page.include_twitter %}
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endif %}
  </body>
</html>

